@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(10);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
}

.block{
    margin-bottom: 10px;
    font-weight: bold;
    animation: fadeIn 0.8s ease-out;
}

.color:hover{
    color:#0150fd
}

.animate-fadeIn {
    animation: fadeIn 0.8s ease-out;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-field:focus {
    animation: shake 0.5s ease-in-out
}

.submit-button {
    background: linear-gradient(90deg, #1e90ff, #00bfff);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-buttons {
    background: linear-gradient(90deg, #1e90ff, #00bfff);
    color: black;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-button:hover {
    background: linear-gradient(90deg, #00bfff, #1e90ff);
}
.submit-buttons:hover {
    background: linear-gradient(90deg, #00bfff, #1e90ff);
}
.links:hover{
    text-decoration: underline;
}

.w-12 {
    width: 3rem;
}
.h-12 {
    height: 3rem;
}
.text-xl {
    font-size: 1.25rem;
}
.border {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.text-center {
    text-align: center;
}

